<h1>Hipertensão</h1>

<h2>1. O que é?</h2>
<p>A Hipertensão arterial é caracterizada por níveis pressóricos elevados e sustentados com valores maiores que 140x90mmHg. É doença silenciosa e geralmente não apresenta sintomatologia.</p>

<h2>2. É uma doença frequente da população brasileira?</h2>
<p>A hipertensão no Brasil atinge cerca de 32,5% de indivíduos na fase adulta e 60% dos idosos.</p>

<h2>3. Quais são os fatores de risco?</h2>
<p>Os fatores de risco são:</p>

<ul>
	<li>Idade</li>
	<li>Obesidade</li>
	<li>Consumo excessivo de sal</li>
	<li>Abuso de álcool</li>
	<li>Etnia</li>
	<li>Genética</li>
</ul>

<h2>4. O que é Hipertensão secundária?</h2>
<p>Este tipo de hipertensão é secundária a alguma doença e geralmente a correção e tratamento desta melhora os níveis pressóricos. Essas doenças são:</p>

<ul>
	<li>Doenças renais</li>
	<li>Feocromocitoma</li>
	<li>Síndrome Cushing</li>
	<li>Coartação de aorta</li>
	<li>Apnéia do sono</li>
	<li>Hiperaldosteronismo primário</li>
	<li>Anticoncepcional e outras medicações</li>
</ul>

<h2>5. O que é Hipertensão do avental branco?</h2>
<p>É definido por valores anormais de pressão dentro do consultório porém normais fora dele.</p>

<h2>6. Como tratar a Hipertensão?</h2>
<p>O tratamento deve ser realizado com medidas comportamentais (perda de peso, exercício físico) e medicamentosas de acordo com o estágio da hipertensão e o risco de doenças cardiovasculares associadas.</p>