<h1>Obesidade</h1>

<h2>O que é obesidade?</h2>

<p>É uma doença crônica, progressiva e fatal e é caracterizada pelo acúmulo excessivo de gordura corporal no indivíduo e pode acometer todas as idades. A obesidade é um fato de risco para o surgimento de outras doenças, tais como diabetes, hipertensão arteiral e doencas cardiovasculares.</p>

<h2>Quais as causas da obesidade?</h2>
<p>A obesidade pode ser causada por fatores genéticos, ambientais, emocionais, disturbios nutricionais, alterações endocrinas, inatividade fisica e outros.</p>

<h2>Como é feito o diganostico?</h2>
<p>A Organização Mundial de Saúde recomenda que o diagnostico seja feito por meio do cálculo do IMC (Indice de Massa Corporea), que consiste em dividir o peso pela altura ao quadrado.</p>

<ul>
	<li>Baixo peso: IMC menor que 18.5kg/m2</li>
	<li>Peso normal: IMC entre 18.5 a 24,9kg/m2</li>
	<li>Sobrepeso: IMC entre 25.0 a 29,9kg/m2</li>
	<li>Obesidade grau 1:IMC entre 30.0 - 34.9 kg/m2;</li>
	<li>Obesidade grau 2:IMC entre 35.0 - 39.9 kg/m2;</li>
	<li>Obesidade grau 3ouobesidade mórbida:IMC igual ou superior 40 kg/m2</li>
</ul>

<h2>Quais os tipos de obesidade?</h2>
<p>Obesidade abdominalou obesidade em forma de maçã: o excesso de gordura se concentra principalmente no abdômem e na cintura, é mais comum em homens e pode levar ao desenvolvimento de doenças cardiovasculares.</p>

<p>Obesidade periférica ou obesidade em forma de pêra: a gordura se acumula nas coxas, nádegas e quadril, e é mais comum em mulheres e pode levar ao aumento do risco de doenças cardíacas, diabetes, artrite.</p>

<p>Obesidade homogêna: a gordura não fica localizada em lugares especificos e sim no corpo todo.</p>

<h2>Como é feito o tratamento?</h2>
<p>O tratamento é feito por meio de mudança no estilo de vida como dieta individualizada para cada caso, atividade fisica, reeducação alimentar, acompanhamento psicologico e em alguns casos uso de medicações específicas. Para o sucesso do tratamento a curto e longo prazo é essencial que haja interação entre medico, nutricionista e paciente.</p>

<p>Fonte: Diretrizes Brasileiras de Obesidade, 2016; Manual de Diretrizes para o enfrentamento da obesidade na saúde suplementar brasileira, 2017.</p>