<h1>Dislipidemia</h1>

<h2>1. O que é Dislipidemia?</h2>
<p>É o colesterol anormalmente elevado, caracterizado pela presença de níveis aumentados de lipídeos (gordura) no sangue.</p>
<p>A dislipidemia pode levar a aterosclerose que é um processo inflamatório crônico que se inicia por agressões dos vasos do corpo, principalmente do coração.</p>

<h2>2. Qual a função do colesterol no nosso organismo?</h2>
<p>Possuem diversas funções em nosso organismo como:</p>

<ul>
	<li>Armazenamento de energia</li>
	<li>Sinalização celular</li>
	<li>Composição de vitaminas</li>
	<li>Formação de membranas celulares</li>
</ul>

<h2>3. Como é feito o diagnóstico?</h2>
<p>O diagnóstico é realizado através da avaliação clínica e com exames de sangue.</p>

<h2>4. Como é classificada a Dislipidemia?</h2>
<p>Classificação:</p>

<ul>											
	<li>Hipercolesterolemia isolada – LDL > 160mg/dl</li>
	<li>Hipertrigliceridemia isolada – TG > 150mg/dl</li>
	<li>Hiperlipidemia mista</li>
</ul>

<h2>5. Quando devo começar a avaliar meu colesterol?</h2>
<p>A dosagem do colesterol deve ser realizado a partir dos 35 anos em homens e a partir dos 45 anos para mulheres. Apresentando fatores de risco adicionais (doença cardíaca na familiar, outras doenças em tratamento pelo paciente), devemos avaliar a partir dos 20 anos de idade para ambos os gêneros.</p>

<h2>6. Como tratar?</h2>
<p>O tratamento é realizado através de medidas comportamentais (dieta, exercícios físicos, perda de peso) e Estatina se necessário. Os fibratos são utilizados no aumento isolado dos triglicerídeos.</p>