<h1>Diabetes</h1>

<h2>1. O que é Diabetes Mellitus?</h2>
<p>O diabetes mellitus (DM) consiste em um distúrbio metabólico caracterizado por hiperglicemia (elevação de glicose no sangue) persistente, decorrente de deficiência na produção de insulina ou na sua ação, ou em ambos os mecanismos, ocasionando complicações em longo prazo. Atualmente atinge grandes proporções, com estimativa de 415 milhões de portadores de diabéticos mundialmente.</p>

<h2>Quais os tipos de diabetes?</h2>
<p>Diabetes mellitus tipo 1 (DM1): é uma doença autoimune onde ocasiona a deficiência completa na produção de insulina. Pode ser desencadeada em qualquer faixa etária mas acomete principalmente crianças e jovens adultos. Os principais sintomas são: aumento excessivo de fome, sede e diurese, emagrecimento importante e em curto período, fraqueza e cansaço.</p>

<p>Diabetes mellitus tipo 2 (DM2): é uma doença que pode ser genética ou adquirida. Nessa forma ocorre uma resistência ou diminuição na produção de insulina, que é responsável por fazer com o que o açúcar que fica no sangue seja conduzido para nossas células, fazendo com que haja acúmulo de açúcar e assim aumente as taxas de glicose. Corresponde 90 a 95% de todos os casos de DM e normalmente acomete adultos a partir dos 50 anos. Os sintomas como sede, alterações na visão, cansaço, feridas que demoram a cicatrizar, podem demorar mais tempo para aparecer.</p>

<p>Diabetes gestacional: desenvolve-se devido a uma resistência à insulina ocasionada pelos hormônios da gravidez, ocorre no período do terceiro trimestre da gestação e normalmente some após o parto.</p>

<h2>Como é feito o diagnóstico?</h2>
<p>O diagnóstico é feito por meio de exames laboratoriais:</p>

<ul>
	<li>1) glicemia de jejum > 126 mg/dl (jejum de 8 horas)</li>
	<li>2) glicemia casual (colhida em qualquer horário do dia, independente da última refeição realizada (> 200mg/dl em paciente com sintomas característicos de diabetes).</li>
	<li>3) glicemia > 200 mg/dl duas horas após sobrecarga oral de 75 gramas de glicose.</li>
</ul>

<h2>Como é feito o tratamento?</h2>
<p>Para o tratamento da Diabetes é necessário medicações específicas, tais como metformina, glicazida, insulina e mudanças no estilo de vida como dieta, atividade física e controle de peso. Por isso é importante que o paciente seja sempre acompanhado pelo medico e nutricionista.</p>

<p>Fonte: Diretrizes da Sociedade Brasileira de Diabetes, 2017-2018</p>	