<h1>Infarto Agudo do Miocárdio</h1>

<h2>1. O que é?</h2>
<p>O infarto do miocárdio é uma doença causada pela interrupção do fluxo de sangue em um vaso que irriga o coração (vaso coronariano).</p>
<p>Na maioria dos casos essa interrupção do fluxo sanguíneo ocorre pela formação de placas ateroscleróticas (placas de gordura) dentro do vaso.</p>

<h2>2. Quais são os fatores que levam ao infarto?</h2>
<p>São vários os fatores de risco para o infarto agudo do miocárdio, quanto mais fatores maior a chance de ocorrer. São eles:</p>

<ul>
	<li>História Familiar de infarto</li>
	<li>Diabetes mal controlado</li>
	<li>Hipertensão mal controlada</li>
	<li>Tabagismo</li>
	<li>Uso de drogas ilícitas</li>
	<li>Obesidade</li>
	<li>Dislipidemia</li>
</ul>

<h2>3. Quais são os sintomas?</h2>
<p>Geralmente as pessoas sentem dor no peito em aperto ou opressão com irradiação para o braço esquerdo ou região cervical e mandíbula, associado a suor frio, falta de ar, palidez, náuseas.</p>
<p>Entretanto pode ocorrer sem dor no peito, característica principal em: idosos, mulheres e diabéticos.</p>

<h2>4. Como faz o diagnóstico e tratamento?</h2>
<p>Na suspeita de infarto ou aparecimento de sintomas como falta de ar, sudorese e dor no estômago aguda deve-se procurar o serviço de emergência mais próximo para diagnóstico e tratamento corretos.</p>

<h2>5. Como faço para prevenir?</h2>
<p>A prevenção do infarto agudo do miocárdio é feita através do controle dos fatores de risco.</p>
<p>É necessário acompanhamento médico para controle da pressão arterial e diabetes, cessar tabagismo, dieta e atividade física.</p>