<h1>Insuficiência Cardíaca</h1>

<h2>1. O que é?</h2>
<p>A Insuficiência Cardíaca é uma condição clínica em que o coração apresenta
uma disfunção no músculo cardíaco. Na maioria das vezes levando a uma
diminuição da força de contração, ou seja, no bombeamento do sangue pelo
coração.</p>
<p>É popularmente conhecida como coração grande ou coração fraco</p>

<h2>2. Quais são os sintomas?</h2>
<p>Inicialmente pode não haver sintomas, e com a progressão da doença a pessoa
pode sentir cansaço (fraqueza), inchaço nas pernas, falta de ar aos esforços, tosse
seca (principalmente ao deitar)</p>
<p>Esses sintomas geralmente são discretos e vão piorando ao longo do tempo</p>

<h2>3. O que causa a Insuficiência Cardíaca?</h2>
<p>Na maioria das vezes ela é decorrente de outras doenças, como a hipertensão
mal controlada, infarto agudo do miocárdio, doença de Chagas, problemas
valvares, medicações como quimioterapia, entre outros.</p>

<h2>4. Como faz o diagnóstico?</h2>
<p>Para o diagnóstico correto é necessário a avaliação de um médico, que realizará
exame clínico e exames complementares como ecocardiograma.</p>

<h2>5. Como tratar?</h2>
<p>Para o tratamento da Insuficiência Cardíaca é necessário medicações
específicas e mudanças no estilo de vida como dieta e atividade física.</p>