<footer>
    <div class="grid wrap wider">
        <div class="unit whole">
            <h1>Entre em contato conosco e agende sua consulta.</h1>
            <p>Estamos na Avenida 11 de Junho, 1070, Cj 311 - Vila Clementino, São Paulo. Agende uma visita e descubra o como podemos melhorar sua vida.</p>
        </div>
    </div>
    
    <div class="grid wrap wider">   
        <div class="unit half">
            <iframe class="mapa" src="https://snazzymaps.com/embed/54602" width="100%" height="600px"></iframe>
        </div>

        <div class="unit half">
            <form action="https://jumprock.co/mail/cardiologianutricao" method="post">
            	<div class="form-item">
            		<label for="nome">Qual o seu nome? <span class="normal white-60">(opional)</span></label>
            		<input type="text" name="nome">
            	</div>
            	
            	<div class="form-item">
            		<label for="email">Qual o seu e-mail?</label>
					<input type="text" name="email" placeholder="" />
					<!-- <small id="name-desc" class="f6 white-60 tr db mb2">Nunca enviaremos spam :)</small> -->
            	</div>
            	
            	<div class="form-item">
            		<label for="telefone">Gostaria de deixar um telefone?  <span class="normal white-60">(opional)</span></label>
					<input name="text" placeholder="(xx) xxxxx-xxxx">
            	</div>
            	
            	<div class="form-item">
            		<label for="mensagem">Deixe sua mensagem</label>
					<input style="height: 6rem;" type="text" name="mensagem" />
            	</div>
            	
            	<div>
					<button class="btn btn-form" type="submit">Enviar mensagem</button>
            	</div>
			</form>
        </div>
    </div>
</footer>