<footer>
    <div class="container">    
        <div class="row">
            <div class="col-12">
                <h1>Entre em contato conosco e agende sua consulta.</h1>
                
                <h3>Estamos na Avenida 11 de Junho, 1070, conjunto 311, Vila Clementino, São Paulo. Nosso telefone é <span style="font-weight: 700">(11) 5083-4973</span> e nosso e-mail <span style="font-weight: 700">cardio.tratamento@gmail.com</span>. Agende uma visita e descubra o como podemos melhorar sua vida.</h3>
            </div>
        </div>
        
        <div class="row">   
            <div class="col-12 col-sm-6">
                <iframe class="mapa" src="https://snazzymaps.com/embed/54602" width="100%" height="600px"></iframe>
            </div>

            <div class="col-12 col-sm-6">
                <form action="https://jumprock.co/mail/cardiologianutricao" method="post">
                	<div class="form-item">
                		<label for="nome">Qual o seu nome? <span class="normal white-60">(opional)</span></label>
                		<input type="text" name="nome">
                	</div>
                	
                	<div class="form-item">
                		<label for="email">Qual o seu e-mail?</label>
    					<input type="text" name="email" placeholder="" />
    					<!-- <small id="name-desc" class="f6 white-60 tr db mb2">Nunca enviaremos spam :)</small> -->
                	</div>
                	
                	<div class="form-item">
                		<label for="telefone">Gostaria de deixar um telefone?  <span class="normal white-60">(opional)</span></label>
    					<input name="text" placeholder="(xx) xxxxx-xxxx">
                	</div>
                	
                	<div class="form-item">
                		<label for="mensagem">Deixe sua mensagem</label>
    					<input style="height: 4.35rem;" type="text" name="mensagem" />
                	</div>
                	
                	<div>
    					<button class="btn btn-form" type="submit">Enviar mensagem</button>
                	</div>
    			</form>
            </div>
        </div>
    </div>
</footer>