<nav class="container">
  <div class="row">  
    <div class="col-12 col-sm-3">
      <a href="{{ "/" | relative_url }}" title="Home">
        <img src="/assets/images/logo.png" alt="Clínica Cardio">
      </a>
    </div>

    <div class="col-12 col-sm-9">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/a-clinica/" title="A Clínica">A Clínica</a></li>
        <li><a href="/cardiologia/" title="Cardiologia">Cardiologia</a></li>
        <li><a href="/nutricao/" title="Nutrição">Nutrição</a></li>
        <!-- <li><a href="/artigos/" title="Artigos">Artigos</a></li> -->
        <li><a href="/contato/" title="Contato">Contato</a></li>
        <li>(11) 5083-4973<br>(11) 97030-1444</li>
      </ul>
    </div>
  </div>
</nav>