<nav class="container">
  <a href="{{ "/" | relative_url }}" title="Home">
    <img src="/assets/images/logo.png" class="logo" alt="">
  </a>

  <ul>
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/a-clinica/" title="A Clínica">A Clínica</a></li>
    <li><a href="/cardiologia/" title="Cardiologia">Cardiologia</a></li>
    <li><a href="/nutricao/" title="Nutrição">Nutrição</a></li>
    <!-- <li><a href="/artigos/" title="Artigos">Artigos</a></li> -->
    <li><a href="/contato/" title="Contato">Contato</a></li>
  </ul>
</nav>