@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700, 700i');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700, 700i');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


nav,
.pre-titulo {
    font-family: $font-secundaria;
}

nav {
    font-weight: 700;

    @include mq($from: tablet) {
        padding: 2rem 0;
    }

    img {
        width: auto;
    }

    ul {
        text-align: center;
        margin-top: 1rem;

        @include mq($from: tablet) {
            text-align: right;
        }
    }

    li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        @include mq($from: tablet) {
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $cor-base;
        }
    }
}

section {
    padding: 2rem 0;
}

.banner {
    padding-bottom: 4rem;
    background-image: url(images/banner-background.png);
    background-size: cover;
    background-position: bottom;

    h3 {
        font-family: $font-primaria;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $cor-primaria;
    color: #fff;
    font-size: 90%;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: $border-radius;

    &:hover,
    &:focus {
        background-color: darken($cor-primaria, 5%);
        color: #fff;
        transition: opacity .15s ease-in;
    }
    &:active {
        background-color: darken($cor-primaria, 10%);
        color: #fff;
        transition: opacity .15s ease-out;
    }

    &-form {
        cursor: pointer;
        display: block;
        width: 100%;
        color: $cor-base;
        background-color: #ffd700;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &-form:hover {
        background-color: darken(#ffd700, 10%);
        color: $cor-base;
        transition: opacity .15s ease-in;
    }
}

.equipe_card {
    font-size: 80%;

    h2 {
        color: $cor-primaria;
        font-weight: bold;
        margin-bottom: 0;
    }

    h3 {
        color: darken($cor-base, 20%);
        font-weight: bold;
    }

    img {
        margin-bottom: 1rem;
    }

    ul {
        list-style: inside;
    }
}

.siema img {
    width: auto;
    border-radius: $border-radius;
}

footer {
    padding: 2rem 0;
    background-color: $cor-primaria;
    color: #fff;

    h1 {
        color: #fff;
    }

    .mapa {
        border-radius: $border-radius;
    }
}

img {
    width: 100%;
    border-radius: $border-radius;
}

form {
    padding: 2rem;
    background-color: darken($cor-primaria, 10%);
    border-radius: $border-radius;

    .form-item {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        margin-bottom: .5rem;
    }

    input {
        width: 100%;
        padding: 1rem;
        border: 0;
        border-radius: $border-radius;
    }
}