@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700, 700i');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700, 700i');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


nav,
.pre-titulo {
    font-family: $font-secundaria;
}

nav {
    text-align: center;
    padding: 2rem 0;

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    img {
        width: auto;
    }

    ul {
        margin-top: 2rem;

        @include media-breakpoint-up(md) {
            margin-top: 1rem;
            text-align: right;
        }
    }

    li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
            color: $cor-primaria;
            font-weight: 700;
        }

        @include media-breakpoint-up(md) {
            margin-right: 3rem;
        }

        a {
            color: $cor-base;
        }
    }
}

section {
    padding: 2rem 0;
}

.banner {
    padding-bottom: 8rem;
    background-image: url(images/banner-background.png);
    background-size: cover;
    background-position: bottom;

    img {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $cor-primaria;
    color: #fff;
    font-size: 90%;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: $border-radius;

    &:hover,
    &:focus {
        background-color: darken($cor-primaria, 5%);
        color: #fff;
        transition: opacity .15s ease-in;
    }
    &:active {
        background-color: darken($cor-primaria, 10%);
        color: #fff;
        transition: opacity .15s ease-out;
    }

    &-form {
        cursor: pointer;
        display: block;
        width: 100%;
        color: $cor-base;
        background-color: #ffd700;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &-form:hover {
        background-color: darken(#ffd700, 10%);
        color: $cor-base;
        transition: opacity .15s ease-in;
    }
}

.equipe_card {
    h2 {
        color: $cor-primaria;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h3 {
        color: $cor-primaria;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: $border-radius;
    }

    ul {
        font-size: 80%;
        list-style: inside;
    }
}

.siema {
    margin-bottom: 2rem;

    img {
        border-radius: $border-radius;
        padding-right: 1rem;
    }
}


footer {
    padding: 2rem 0;
    background-color: $cor-primaria;
    color: #fff;

    h1 {
        color: #fff;
    }

    .mapa {
        border-radius: $border-radius;
    }
}

.img-icone {
    width: 60px;
    margin: 0 auto .5rem;
}

form {
    padding: 2rem;
    background-color: darken($cor-primaria, 10%);
    border-radius: $border-radius;

    .form-item {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        margin-bottom: .25rem;
    }

    input {
        width: 100%;
        padding: 1rem;
        border: 0;
        border-radius: $border-radius;
    }
}